.header{
  display: flex;
  align-items: center;
  margin: 30px;
  padding: 10px;
  justify-content: space-between;
}
.header button {
  padding: 3px;
}
form{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   
}
lable{
  padding: 5px;
  margin: 5px;
}
button{
  margin-top: 5px;
}

.cards{
  display: flex;
  justify-content: center;
}